@media screen and (min-width: 1200px) {
    img {
        width: 300px; 
        height: 120px;
        object-fit: cover;
        object-position:  150px 10px ;
    }
  }

  @media screen and (min-width: 1100px) and (max-width: 1200px) {
    img {
        width: 300px; 
        height: 120px; 
        object-fit: cover;
        object-position:  -145px 0px ;
    }
  }

  @media screen and (min-width: 1000px) and (max-width: 1100px) {
    img {
        width: 300px; 
        height: 120px;
        object-fit: cover;
        object-position:  150px -110px;
    }
    /* body {
        background-color: black;
    } */
  }

  @media screen and (min-width: 900px) and (max-width: 1000px) {
    img {
        width: 300px; 
        height: 120px;
        object-fit: cover;
        object-position:  -140px -110px ;
    }
  }
@media screen and (min-width: 800px) and (max-width: 900px) {
    img {
        width: 300px; 
        height: 120px;
        object-fit: cover;
        object-position:  150px -220px;
    }
  }
  @media screen and (min-width: 700px) and (max-width: 800px) {
    img {
        width: 300px; 
        height: 120px;
        object-fit: cover;
        object-position:  -150px -222px ;
        }
    }

    @media screen and (min-width: 600px) and (max-width: 700px) {
        img {
            width: 300px; 
            height: 120px;
            object-fit: cover;
            object-position:  150px -220px ;
        }
          /* body {
        background-color: black;
    } */
    }

    @media screen and (max-width: 600px) {
        img {
            width: 300px; 
            height: 120px; 
            object-fit: cover;
            object-position:  -150px -340px ;
        }
    }



